@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-marquee {
    animation: marquee 20s linear infinite;
  }
  .heat-circle {
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  pointer-events: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

}